.Header{
  font-family: 'Times New Roman', Times, serif;
}

body{
  background-image: url("https://img1.goodfon.ru/original/2880x1800/b/af/tekstura-siniy-svetlyy-volny.jpg");
}

span{
    color: black
}
.sign-form{
text-align: center;
}
.alert-danger{
  color: red;
  font-size: 17px;
}
.alert-sucess{
  color: green;
  font-size: 17px;
}
input{
  width: 300px;
  padding: 12px;
}
