.Header{
  font-family: 'Times New Roman', Times, serif;
}

back{
  background-image: url("https://images.hdqwalls.com/download/gradient-simple-background-xs-2880x1800.jpg")
}

span{
    color: black
}
.sign-form{
text-align: center;
}
.alert-danger{
  color: red;
  font-size: 17px;
}
.alert-sucess{
  color: green;
  font-size: 17px;
}
input{
  width: 300px;
  padding: 9px;
}
