input {
    width: 300px;
    padding: 9px;
    border: 2px;
}
div.container {
    padding: 0px;
    max-width: 100%;
}
.settings {
    width: 55%;
    margin-bottom: 10px;
}
.active {
    height: 90%;
    width: 97%;
}
.feed {
    height: 100%;
    width: 55%;
}
.mobile {
    height: 90%;
    width: 97%;
}
.feed-container {
    margin-bottom: 8px;
}
.desPic {
    margin-bottom: 10px;
    height: 95%;
    width: 97%;
    cursor: pointer;
}
.mobilePic {
}
.menu-button {
    padding: 0px 0px;
    margin: 0px;
}
.dropdown-menu {
    padding: 0px 8px;
}
.toolbar-container {
    margin-right: 0px;
}
.v-application--is-ltr .v-list-item__avatar:first-child {
   margin-right: 0px;
}
.header {
    margin-bottom: 36px;
}
.mobile-fullscreen-card {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    margin-bottom: auto;
    margin-top: auto;
    height: 100%;
}
.mobile-fullscreen-picture {
    position: relative;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}
.mobile-fullscreen-picture-container {
    display: flex;
    align-content: center;
    height: 100%;
}
.mobile-fullscreen-header {
    position: fixed;
    z-index: 1;
    display: flex;
    width: 100%;
    align-self: start;
    align-content: center;
    height: 56px;
    background-color: #fff;
    justify-content: flex-end;
}
.close-fullscreen-button {
    align-self: center;
    margin-right: 10px;
}


