input {
    width: 300px;
    padding: 9px;
    border: 2px;
}
div.container {
    padding: 0px;
    max-width: 100%;
}
.settings {
    width: 55%;
    margin-top: 45px;
    margin-bottom: 10px;
}
.active {
    height: 90%;
    width: 97%;
    margin-bottom: 20px;
}
.feed {
    height: 100%;
    width: 55%;
}
.mobile {
    height: 90%;
    width: 97%;
}
.feed-container {
    margin-bottom: 10px;
}
.desPic {
    margin-bottom: 10px;
    height: 95%;
    width: 97%;
    cursor: pointer;
}
.mobilePic {
    height: 80%;
    width: 100%;
}
.fix {
    margin-bottom: 80px;
}
.menu-button {
    padding: 0px 0px;
    margin: 0px;
}
.dropdown-menu {
    padding: 0px 8px;
}
.toolbar-container {
    margin-right: 0px;
}
.v-application--is-ltr .v-list-item__avatar:first-child {
   margin-right: 0px;
}